@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
}
#nav {
  width: 100%;
  height: 9vh;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;

  #right {
    width: 10%;
    padding-left: 1rem;
  }
  #mid {
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #left {
    width: 5%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 1rem;
  }
}
header {
  width: 100%;
  height: 19vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding: 1.5rem 4%;
  top: 9%;
  /* position: fixed;
  z-index: 99999; */

  nav {
    display: flex;
    gap: 1.5rem;

    a {
      font-weight: 700;
    }
  }
}

section {
  width: 100%;
  height: 81vh;
  display: flex;

  #contener {
    width: 100%;
    height: 100%;
    background-color: #f1bb13;
    display: flex;
    flex-direction: row;

    .photo {
      width: 50%;
      height: 100%;
      background-color: #f1bb13;

      img {
        width: 100%;
        height: 100%;
      }
    }
    .cont {
      width: 50%;
      height: 100%;
      background-color: #f1bb13;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      #fir {
        font-size: 1.2rem;
        text-transform: uppercase;
        padding-bottom: 1rem;
        color: rgb(17, 17, 17);
      }

      h1 {
        font-size: 3rem;
        padding-bottom: 1rem;

        a {
          color: #34365a;
          text-decoration: none;
        }
      }
      #end {
        padding: 1rem 0 2rem;

        a {
          color: black;
          text-decoration-skip-ink: none;
        }
      }
      button {
        width: 25%;
        height: 10%;
        font-weight: 700;
        background-color: #34365a;
        color: #ffffff;
        border-radius: 2rem;
        border: 0;

        &:hover {
          background-color: #ffffff;
          color: #34365a;
        }
      }
    }
  }
}

#sec2 {
  width: 100%;
  height: 200vh;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff;

    .text {
      width: 100%;
      height: 13%;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;

      h2 {
        font-weight: 900;
        margin-bottom: 1rem;
        font-size: 3rem;
      }
      p {
        text-align: center;
        font-style: italic;
        font-size: 1rem;
      }
    }
    .contener {
      width: 100%;
      height: 87%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row {
        width: 100%;
        height: 33.3333%;
        display: flex;
        flex-direction: row;

        .photo {
          width: 50%;
          height: 100%;

          background-image: url("./img-for-progekt/fgfg.jpg");
          background-size: cover;
          background-position: 50% 50%;
        }

        .text {
          width: 50%;
          height: 100%;
          background-color: #f1bb13;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 2rem;

          h3 {
            font-size: 2rem;
          }
          p {
            text-align: start;
            font-size: 1.05rem;
            color: #111111;
          }

          a {
            color: black;
            text-decoration-skip-ink: none;
            font-style: italic;
          }
        }
        button {
          width: 40%;
          height: 15%;
          margin-top: 1rem;
          border-radius: 2rem;
          background-color: #f1bb13;
          font-weight: 700;
          border-style: solid;

          &:hover {
            background-color: #ffffff;
            color: #34365a;
            border: 0;
          }
        }
      }
      .row1 {
        width: 100%;
        height: 33.3333%;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;

        .text1 {
          width: 50%;
          height: 100%;
          background-color: #34365a;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 2rem;

          h3 {
            padding-bottom: 2rem;
            font-size: 2rem;
            color: #ffffff;
          }
          p {
            text-align: start;
            font-size: 1rem;
            color: #ffffff;
          }
        }

        .photo1 {
          width: 50%;
          height: 100%;

          background-image: url("./img-for-progekt/yu.jpg");
          background-size: cover;
          background-position: 50% 50%;
        }
        button {
          width: 40%;
          height: 15%;
          color: #ffffff;
          margin-top: 4rem;
          border-style: solid;
          border-width: 2px;
          border-color: white;
          border-radius: 2rem;
          background-color: #34365a;
          font-weight: 700;

          &:hover {
            background-color: #ffffff;
            color: #34365a;
            border: 0;
          }
        }
      }
      .row2 {
        width: 100%;
        height: 33.3333%;
        display: flex;
        flex-direction: row;
        background-color: #ffffff;

        .photo2 {
          width: 50%;
          height: 100%;

          background-image: url("./img-for-progekt/89.jpg");
          background-size: cover;
          background-position: 70% 50%;
        }

        .text {
          width: 50%;
          height: 100%;
          background-color: #f1bb13;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 2rem;

          h3 {
            padding-bottom: 2rem;
            font-size: 2rem;
          }
          p {
            text-align: start;
            font-size: 1.05rem;
            color: #111111;
          }
        }
        button {
          width: 40%;
          height: 15%;
          margin-top: 4rem;
          border-radius: 2rem;
          background-color: #f1bb13;
          font-weight: 700;
          border-style: solid;

          &:hover {
            background-color: #ffffff;
            color: #34365a;
            border: 0;
          }
        }
      }
    }
  }
}

#sec3 {
  width: 100%;
  height: 340vh;
  display: flex;
  flex-direction: column;

  .upper {
    width: 100%;
    height: 205vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    .hero {
      width: 100%;
      height: 25%;
      background-color: #34365a;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .h2 {
        color: #ffffff;
        font-size: 3rem;
        font-weight: 700;
        margin-top: 5rem;
      }

      .p {
        width: 50%;
        color: #ffffff;
        padding-top: 2rem;
        font-size: 1.3rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 3rem;
      }

      .but {
        width: 35%;
        height: 15%;
        background-color: #34365a;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .b1 {
          width: 48%;
          height: 100%;
          background-color: #34365a;
          color: #ffffff;
          border-radius: 2rem;
          border-color: #ffffff;
          border-style: solid;
          font-size: 1rem;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            background-color: #ffffff;
            color: #34365a;
            border: 0;
          }
        }
        .b2 {
          width: 48%;
          height: 100%;
          background-color: #ffffff;
          color: #34365a;
          border-radius: 2rem;
          border-color: #34365a;
          border-style: solid;
          font-size: 1rem;
          font-weight: 400;
          text-transform: uppercase;

          &:hover {
            background-color: #34365a;
            color: #ffffff;
            border-radius: 2rem;
            border-color: #ffffff;
          }
        }
      }
    }

    .hero2 {
      width: 100%;
      height: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .spac {
        width: 100%;
        height: 50%;
        background-color: #34365a;
      }

      .contnt {
        width: 100%;
        height: 50%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        .ph1 {
          width: 55%;
          height: 120vh;
          background-image: url("./img-for-progekt/ddd.jpg");
          background-size: cover;
          position: absolute;
          bottom: 18%;
          left: 12%;
        }

        .tex1 {
          width: 32%;
          height: 85%;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          padding: 3rem 2rem;
          position: absolute;
          bottom: 65%;
          right: 13%;

          h3 {
            margin: -2rem 0 2rem;
            color: #34365a;
            font-size: 3rem;
            font-weight: 800;
          }

          p {
            color: #34365a;
            font-size: 0.9rem;
            font-weight: 500;
            padding: 0 0 2rem;

            a {
              color: #34365a;
              font-style: italic;
              text-decoration-skip-ink: none;
            }
          }

          button {
            width: 45%;
            height: 13%;
            margin-bottom: -2rem;
            border-radius: 2rem;
            border: 0;
            background-color: #34365a;
            color: #ffffff;
            font-weight: 700;

            &:hover {
              background-color: #f1bb13;
              color: #111111;
            }
          }
        }
      }
    }
  }

  .lower {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: -2rem;
    background-color: #ffffff;

    .contnt {
      width: 70%;
      height: 95%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .up {
        width: 100%;
        height: 40%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .son {
          width: 20%;
          height: 100%;
          background-color: aqua;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .ph {
            width: 100%;
            height: 50%;
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            position: relative;

            .art {
              width: 60%;
              height: 60%;
              background-color: #f1bb13;
              border-radius: 4rem;
              position: absolute;
              top: 18%;
              right: 15%;
            }

            .pho {
              width: 50%;
              height: 50%;
              background-color: #ffffff00;
              background-image: url("./img-for-progekt/download.png");
              background-size: cover;
              position: absolute;
              bottom: 6%;
              left: 11%;
            }
            .pho1 {
              width: 49.3%;
              height: 50.9%;
              background-color: #ffffff00;
              background-image: url("./img-for-progekt/download-1.png");
              background-size: cover;
              position: absolute;
              bottom: 5%;
              left: 11%;
            }
            .pho2 {
              width: 50%;
              height: 50.9%;
              background-color: #ffffff00;
              background-image: url("./img-for-progekt/download-2.png");
              background-size: cover;
              position: absolute;
              bottom: 6%;
              left: 11%;
            }
            .pho3 {
              width: 50%;
              height: 50%;
              background-color: #ffffff00;
              background-image: url("./img-for-progekt/download-3.png");
              background-size: cover;
              position: absolute;
              bottom: 7%;
              left: 11%;
            }
          }

          .text {
            width: 100%;
            height: 50%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .h1 {
              padding: 2rem;
              text-transform: uppercase;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .h2 {
              padding: 2rem;
              text-transform: uppercase;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .h3 {
              padding: 2rem;
              text-transform: uppercase;
              font-size: 1.5rem;
              font-weight: 500;
            }
            .h4 {
              padding: 2rem;
              text-transform: uppercase;
              font-size: 1.5rem;
              font-weight: 500;
            }

            p {
              padding-bottom: 2rem;
              text-align: center;
            }
          }
        }
      }

      .down {
        width: 100%;
        height: 55%;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .hero {
          width: 100%;
          height: 95%;
          background-color: #ffffff;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          .right {
            width: 50%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            .head {
              width: 90%;
              height: 45%;
              background-color: #f1bb13;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              padding: 0 0 2rem 2rem;
              border-radius: 0 0 4rem 4rem;

              p {
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 350;
              }

              h2 {
                font-size: 3rem;
                padding-bottom: 0.5rem;
              }
            }

            .foot {
              width: 100%;
              height: 51%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;

              p {
                font-size: 0.99rem;
                padding: 1rem 0.5rem 1rem 0;
                font-weight: 400;
              }

              a {
                color: #111111;
                font-style: italic;
                text-decoration-skip-ink: none;
              }

              button {
                width: 35%;
                height: 40%;
                background-color: #34365a;
                font-size: 1rem;
                font-weight: 600;
                color: #ffffff;
                border: 0;
                border-radius: 2rem;

                &:hover {
                  background-color: #f1bb13;
                  color: #111111;
                }
              }
            }
          }

          .left {
            width: 50%;
            height: 100%;
            background-color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .phot {
              width: 95%;
              height: 60%;
              background-color: #ffffff;
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: flex-end;
              padding-bottom: 1rem;

              .so1 {
                width: 55%;
                height: 90%;
                background-image: url("./img-for-progekt/women.jpg");
                background-size: cover;
                border-radius: 60% 60%;
              }
            }

            .tx {
              width: 95%;
              height: 40%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: flex-start;

              .tx1 {
                width: 100%;
                height: 48%;
                background-color: #ffffff;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .phot1 {
                  width: 14%;
                  height: 70%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #34365a;
                  border-radius: 4rem;

                  .phson {
                    width: 45%;
                    height: 45%;
                    background-color: #ffffff00;
                    background-image: url("./img-for-progekt/computer-logo.png");
                    background-size: cover;
                  }
                }

                .tx1son {
                  width: 80%;
                  height: 100%;
                  background-color: #ffffff;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;

                  h3 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: #111111;
                    font-family: "Montserrat", sans-serif !important;
                  }
                  p {
                    padding-top: 1.3rem;
                    font-size: 1.05rem;
                  }
                }
              }

              .tx2 {
                width: 100%;
                height: 48%;
                background-color: #ffffff;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .phot2 {
                  width: 14%;
                  height: 70%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #34365a;
                  border-radius: 4rem;

                  .phson {
                    width: 45%;
                    height: 45%;
                    background-color: #ffffff00;
                    background-image: url("./img-for-progekt/setting-logo.png");
                    background-size: cover;
                  }
                }

                .tx2son {
                  width: 80%;
                  height: 100%;
                  background-color: #ffffff;
                  display: flex;
                  flex-direction: column;
                  justify-content: flex-start;
                  align-items: flex-start;

                  h3 {
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    color: #111111;
                    font-family: "Montserrat", sans-serif !important;
                  }
                  p {
                    padding-top: 1.3rem;
                    font-size: 1.05rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

#sec4 {
  width: 100%;
  height: 240vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;

  .upper {
    width: 100%;
    height: 37%;
    background-color: #f1bb13;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .text {
      width: 140%;
      height: 95%;
      background-color: #f1bb13;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .p1 {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 12% 0 1.5rem 27%;
        letter-spacing: 4px;
        color: #111111;
      }

      h2 {
        font-size: 3rem;
        padding: 0 0 1.5rem 27%;
        color: #111111;
      }

      .p2 {
        font-size: 1.3rem;
        padding: 0 0 2rem 27%;
        line-height: 2.5rem;
      }

      .p3 {
        font-style: italic;
        font-size: 1.3rem;
        padding: 0 0 2rem 27%;

        a {
          text-decoration-skip-ink: none;
          color: #111111;
        }
      }

      .but {
        width: 55%;
        height: 6%;
        padding: 0 0 0 27%;
        background-color: #f1bb13;

        button {
          width: 100%;
          height: 100%;
          background-color: #34365a;
          color: #ffffff;
          border: 0;
          border-radius: 1.5rem;

          &:hover {
            background-color: #ffffff;
            color: #34365a;
          }
        }
      }
    }

    .phot {
      width: 115%;
      height: 100%;
      background-image: url("./img-for-progekt/clock-min.png");
      background-size: cover;
      background-color: #f1bb13;
    }
  }

  .lower {
    width: 100%;
    height: 60%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .random {
      width: 45%;
      height: 40%;
      background-image: url("./img-for-progekt/top.png");
      background-size: cover;
      position: absolute;
      left: 0;
      top: 2%;
    }
    .random1 {
      width: 45%;
      height: 45%;
      background-image: url("./img-for-progekt/bottom.png");
      background-size: cover;
      position: absolute;
      right: 5%;
      bottom: 2%;
    }

    .contnt {
      width: 75%;
      height: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      position: absolute;
      top: 10%;

      .right {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .up {
          width: 100%;
          height: 60%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background-image: linear-gradient(
              rgba(0, 0, 0, 0.4),
              rgba(0, 0, 0, 0.4)
            ),
            url("./img-for-progekt/up.jpg");
          background-size: cover;
          background-position: 50% 50%;

          .tex {
            width: 80%;
            height: 80%;
            background-color: #ffffff00;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h2 {
              padding: 0 0 1rem 2%;
              font-size: 3rem;
              color: #ffffff;
            }

            .circle {
              width: 14.9%;
              height: 18%;
              background-image: url("./img-for-progekt/sahm.png");
              background-size: cover;
              background-position: 50% 50%;
              border-radius: 3rem;
            }
          }
        }

        .dwon {
          width: 100%;
          height: 40%;
          display: flex;
          flex-direction: row;

          .son {
            width: 45%;
            height: 100%;
            background-image: url("./img-for-progekt/dwon.jpg");
            background-size: cover;
            background-position: 50% 50%;
          }
          .son1 {
            width: 55%;
            height: 100%;
            background-color: #f1bb13;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h3 {
              font-size: 2rem;
              padding: 0 0 2rem 1rem;
              color: #111111;
            }
            p {
              font-size: 1.1rem;
              line-height: 1.7rem;
              color: #111111;
              padding: 0 1rem 1rem 1rem;
            }
            .nav {
              width: 70%;
              height: 30%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding-left: 2rem;

              .fc {
                width: 15%;
                height: 25%;
                background-image: url("./img-for-progekt/facebook-app-symbol.png");
                background-size: cover;
              }
              .tw {
                width: 15%;
                height: 25%;
                background-image: url("./img-for-progekt/twitter.png");
                background-size: cover;
              }
              .in {
                width: 15%;
                height: 27%;
                background-image: url("./img-for-progekt/instagram.png");
                background-size: cover;
              }
              .yo {
                width: 15%;
                height: 25%;
                background-image: url("./img-for-progekt/youtube.png");
                background-size: cover;
              }
            }
          }
        }
      }
      .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .up {
          width: 100%;
          height: 50%;
          background-color: #34365a;
          display: flex;
          justify-content: center;
          align-items: center;

          .sn {
            width: 80%;
            height: 80%;
            background-color: #f1b91300;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            h2 {
              font-size: 2rem;
              color: #ffffff;
            }
            p {
              color: #ffffff;
            }

            .p1 {
              font-style: italic;

              a {
                font-style: italic;
                color: #ffffff;
                text-decoration-skip-ink: none;
              }
            }

            button {
              width: 45%;
              height: 15%;
              font-weight: 700;
              font-size: 1rem;
              background-color: #34365a;
              color: #ffffff;
              border-radius: 2rem;
              border-color: #ffffff;
              border-style: solid;

              &:hover {
                background-color: #ffffff;
                color: #34365a;
              }
            }
          }
        }

        .down {
          width: 100%;
          height: 50%;
          background-image: url("./img-for-progekt/left.jpg");
          background-size: cover;
          background-position: 50% 50%;
        }
      }
    }
  }
}

#sec5 {
  width: 100%;
  height: 350vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .upeer {
    width: 100%;
    height: 31%;
    background-color: #34365a;
    display: flex;

    .upeerson{
      width: 100%;
      height: 100%;
      background-image: url("./img-for-progekt/manager-woman-leading-4-min.jpg");
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  .mid {
    width: 75%;
    height: 69%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .cont {
      width: 100%;
      height: 100%;
      background-color: #34365a;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      .tex {
        width: 63%;
        height: 30%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        position: absolute;
        top: -8.5%;

        .txson {
          width: 90%;
          height: 80%;
          background-color: #ffffff;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;

          h2 {
            font-size: 3rem;
          }
          p {
            text-align: center;
            font-size: 1.25rem;
            line-height: 2rem;
          }
          .p1 {
            font-style: italic;

            a {
              color: #111111;
              text-decoration-skip-ink: none;
            }
          }
          button {
            width: 35%;
            height: 15%;
            background-color: #34365a;
            color: #ffffff;
            font-weight: 700;
            border: 0;
            border-radius: 3rem;

            &:hover {
              background-color: #ffffff;
              color: #34365a;
            }
          }
        }
      }

      .down {
        width: 100%;
        height: 70%;
        background-color: #34365a;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 29%;

        .h2 {
          width: 100%;
          height: 5%;
          text-align: center;
          font-size: 3rem;
          color: #ffffff;
          position: absolute;
          top: 2%;
        }
        .tx {
          width: 90%;
          height: 22%;
          background-color: #ff301000;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          position: absolute;
          top: 12%;
          z-index: 5;

          .sontx {
            width: 23%;
            height: 100%;
            background-color: #34365a;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .son1 {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h3 {
                padding-bottom: 1.5rem;
                font-size: 1rem;
                color: #111111b7;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
              p {
                font-family: Montserrat, sans-serif !important;
                font-size: 5rem;
                font-weight: 700;
                color: #f1bb13;
              }
            }
            .son2 {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h3 {
                padding-bottom: 1.5rem;
                font-size: 1rem;
                color: #111111b7;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
              p {
                font-family: Montserrat, sans-serif !important;
                font-size: 5rem;
                font-weight: 700;
                color: #f1bb13;
              }
            }
            .son3 {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h3 {
                padding-bottom: 1.5rem;
                font-size: 1rem;
                color: #111111b7;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
              p {
                font-family: Montserrat, sans-serif !important;
                font-size: 5rem;
                font-weight: 700;
                color: #f1bb13;
              }
            }
            .son4 {
              width: 100%;
              height: 100%;
              background-color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              h3 {
                padding-bottom: 1.5rem;
                font-size: 1rem;
                color: #111111b7;
                text-transform: uppercase;
                letter-spacing: 0.2rem;
              }
              p {
                font-family: Montserrat, sans-serif !important;
                font-size: 5rem;
                font-weight: 700;
                color: #f1bb13;
              }
            }
          }
        }
        .up {
          width: 100%;
          height: 70%;
          display: flex;
          background-color: #34365a;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          margin-top: 20%;

          .phot {
            width: 100%;
            height: 90%;
            background-image: url("./img-for-progekt/study.jpg");
            background-size: cover;
            background-position: 50% 50%;
            z-index: 4;

          }

          .p {
            color: #ffffff;
            a {
              color: #ffffff;
              text-decoration-skip-ink: none;

              &:hover {
                text-decoration-color: #f1bb13;
              }
            }
          }
        }
      }
    }
  }
}

#sec6 {
  width: 100%;
  height: 100vh;
  background-color: #34365a;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .up {
    width: 75%;
    height: 70%;
    background-color: #34365a;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cont {
      width: 30%;
      height: 100%;
      background-color: #34365a;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;

      .cl {
        width: 100%;
        height: 95%;
        background-color: #34365a00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        h2 {
          width: 80%;
          font-size: 2.4rem;
          color: #ffffff;
        }
        .def {
          width: 80%;
          color: #ffffff;
          text-transform: uppercase;
          font-style: italic;
          font-size: 1.3rem;
          letter-spacing: 0.2rem;
          line-height: 2rem;
        }
        p {
          width: 80%;
          height: 20%;
          color: #ffffff;
          font-size: 0.9rem;
          line-height: 1.7rem;
        }
        .nav {
          width: 80%;
          background-color: #34365a;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;

          .a1 {
            width: 15%;
            height: 55%;
            background-image: url("./img-for-progekt/facebook-app-symbol.png");
            background-size: cover;
            background-color: #ffffff;
            border-radius: 1.5rem;
          }
          .a2 {
            width: 15%;
            height: 55%;
            background-image: url("./img-for-progekt/twitter.png");
            background-size: cover;
            background-color: #ffffff;
            border-radius: 1.5rem;
          }
          .a3 {
            width: 15%;
            height: 55%;
            background-image: url("./img-for-progekt/instagram.png");
            background-size: cover;
            background-color: #ffffff;
            border-radius: 1.5rem;
          }
          .a4 {
            width: 15%;
            height: 55%;
            background-image: url("./img-for-progekt/whatsapp.png");
            background-size: cover;
            background-color: #ffffff;
            border-radius: 1.5rem;
          }
          .a5 {
            width: 15%;
            height: 55%;
            background-image: url("./img-for-progekt/youtube.png");
            background-size: cover;
            background-color: #ffffff;
            border-radius: 1.5rem;
          }
        }
      }
      .c2 {
        width: 100%;
        height: 70%;
        background-color: #34365a00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        color: #ffffff;
        h3 {
          text-transform: uppercase;
          font-size: 1.3rem;
          letter-spacing: 0.2rem;
        }
      }
      .c3 {
        width: 100%;
        height: 70%;
        background-color: #34365a00;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        input {
          width: 100%;
          height: 15%;
        }
        textarea {
          width: 100%;
          height: 50%;
        }
        button {
          width: 100%;
          height: 15%;
          background-color: #f1bb13;
          border: 0;
          border-radius: 2rem;
          font-weight: 700;
          font-size: 1rem;

          &:hover {
            background-color: #333333;
            color: #ffffff;
          }
        }
      }
    }
  }

  .foot {
    width: 100%;
    height: 30%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .d1 {
      width: 30%;
      height: 70%;
      background-color: #333333;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      p {
        color: #ffffff;
      }
      .d2 {
        color: #ffffff;
        font-size: 0.8rem;

        a {
          color: #ffffff;

          &:hover {
            color: #a8a8a8;
            text-decoration: none;
          }
        }
      }
    }
  }
}
